<!-- Header -->
<header class="intro-header">
    <div class="container">
        <div class="intro-message">
            <h1>Landing Page</h1>
            <h3>Angular Test</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
                <li class="list-inline-item">
                    <a href="https://twitter.com/_luisvip" class="btn btn-secondary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/luizlugo" class="btn btn-secondary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/luis-sergio-lugo-victorino-194a6a57/" class="btn btn-secondary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Page Content -->
<section class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Lorem ipsum dolor sit amet, consectetuer</h2><p>adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <img class="img-fluid" src="./assets/img/ipad.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>

<section class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 push-lg-7">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Lorem ipsum dolor sit amet, consectetuer</h2><p>adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
            <div class="col-lg-5 pull-lg-5">
                <img class="img-fluid" src="./assets/img/dog.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section-b -->

<section class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Lorem ipsum dolor sit amet, consectetuer</h2><p>adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <img class="img-fluid" src="./assets/img/phones.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.content-section-a -->

<aside class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Angular 4 test project</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/_luisvip" class="btn btn-secondary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/luizlugo" class="btn btn-secondary btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/luis-sergio-lugo-victorino-194a6a57/" class="btn btn-secondary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->
</aside>
<!-- /.banner -->