packages:
  yum:
    gcc: []
    make: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
    krb5-devel: []
    gcc-c++: []
commands:
  npm_queue_installation:
    command: "npm install -g npm-install-que"
  npm_queue_execution:
    command: "npm-install-que"
    cwd: /tmp/deployment/application