<!-- Navigation -->
<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand" [routerLink]="['home']">Angular test</a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!currentUser" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li>
                <li class="nav-item" *ngIf="!currentUser" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['signup']">Signup</a>
                </li>
                <li class="nav-item" *ngIf="currentUser">
                  <a class="nav-link">Welcome back {{currentUser.firstname}}!</a>
                </li>
                <li class="nav-item" *ngIf="currentUser">
                    <a href="#" class="nav-link" (click)="doLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>